tr.drop-over-downward td {
    border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward td {
    border-top: 2px dashed #1890ff;
}

tr.drop-over-child td {
    background-color: rgb(255, 227, 87);
}

.drag-handle {
    background-color: green;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-Right: 0.75rem;
    cursor: move;
}